<h1>Edit <%= @recipe.name %></h1>

<%= render 'form' %>

<%= button_to "Delete this Recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "All Recipes", recipes_path %><br>
<%= link_to "Back to Recipe", recipe_path(@recipe) %>