<h1>Recipe: <%= @recipe.name %></h1>

<h3>Prep Time:<%= @recipe.prep_time %></h3>
<h3>Cook Time:<%= @recipe.cook_time %></h3>

<p>Description: <%= @recipe.description %></p>
<p>Ingredients:</p> 
<ul>
  <% @recipe.ingredients.each do |ing| %>
    <li><%= ing.name %></li>
  <% end %>
</ul>


<p>Instruction: <%= @recipe.instructions %></p>

<%= link_to "Edit this Recipe", edit_recipe_path(@recipe) %><br>
<%= button_to "Delete this Recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?"} %>

<%= link_to "All Recipes", recipes_path %>
